@model PlateformeEnsaf.Models.GenericAnnoces

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New Q/R</a>
    <a asp-action="CreateOff">Create New Offre</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Titre")
            </th>
            <th>
                @Html.DisplayName("Description")
            </th>
            <th>
                @Html.DisplayName("DatePublication")
            </th>
            <th>
                @Html.DisplayName("Questions.Note")
            </th>
            <th>
                @Html.DisplayName("Statut")
            </th>
            <th>
                @Html.DisplayName("Type")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Questions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatePublication)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Statut)
                </td>
                <td>
                    @Html.DisplayName("Question")
                </td>
                <td>

                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
        @foreach (var item in Model.Offres)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatePublication)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Statut)
                </td>
                <td>
                    @Html.DisplayName("Offres")
                </td>
                <td>

                    <a asp-action="EditOff" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="DetailsOff" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="DeleteOff" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
