@model IEnumerable<PlateformeEnsaf.Models.Offre>
@{
    ViewData["Title"] = "Home Page";
}



@functions{
    public string TimeAgo(DateTime dateTime)
    {
        string result = string.Empty;
        var timeSpan = DateTime.Now.Subtract(dateTime);

        if (timeSpan <= TimeSpan.FromSeconds(60))
        {
            result = string.Format("Il y a {0} secondes", timeSpan.Seconds);
        }
        else if (timeSpan <= TimeSpan.FromMinutes(60))
        {
            result = timeSpan.Minutes > 1 ?
                String.Format("Il y a {0} minutes", timeSpan.Minutes) :
                "Il y a une minute";
        }
        else if (timeSpan <= TimeSpan.FromHours(24))
        {
            result = timeSpan.Hours > 1 ?
                String.Format("Il y a {0} heures", timeSpan.Hours) :
                "Il y a une heure";
        }
        else if (timeSpan <= TimeSpan.FromDays(30))
        {
            result = timeSpan.Days > 1 ?
                String.Format("Il y a {0} jours", timeSpan.Days) :
                "Hier";
        }
        else if (timeSpan <= TimeSpan.FromDays(365))
        {
            result = timeSpan.Days > 30 ?
                String.Format("Il y a {0} mois", timeSpan.Days / 30) :
                "Il y a un mois";
        }
        else
        {
            result = timeSpan.Days > 365 ?
                String.Format("Il y a {0} ans", timeSpan.Days / 365) :
                "Il y a un an";
        }

        return result;
    }
}

<!-- Page Heading -->
@*<div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Accueil</h1>
        <a asp-action="Report" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50"></i> Generate Report
        </a>
    </div>*@


<div class="row">
    <div class="form-group col-md-3">
        <select class="form-control" id="domaines" asp-items="ViewBag.domaines">
            <option value="0" selected>Tous les domaines</option>
            <option value="999">Mes domaines d'intérêt</option>

        </select>
    </div>
    <div class="form-group col-md-3">
        <select class="form-control" id="villes">
            <option value="0">Toutes les villes</option>
            @foreach (var ville in ViewBag.villes)
            {
                <option value="@ville">@ville</option>
            }
        </select>
    </div>
    <div class="form-group col-md-3">
        <select class="form-control" id="srcAnnonces">
            <option value="0" selected>Toutes les annonces</option>
            <option value="1">Annonces de mes abonnements</option>
        </select>
    </div>
    <div class="form-group col-md-3">
        <select class="form-control" id="tri">
            <option value="0" selected disabled>Trier par</option>
            <option value="rating-desc">Popularité - Le plus populaire</option>
            <option value="date-desc">Date - La plus récente</option>
            <option value="date-asc">Date - La plus ancienne</option>
        </select>
    </div>

</div>
<div class="row">

    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div>

           
            @*<div class="card shadow gedf-card mb-3">
                    <div class="card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active show" id="posts-tab" data-toggle="tab" href="#posts" role="tab" aria-controls="posts" aria-selected="true">
                                    Make
                                    a publication
                                </a>
                            </li>
                            <li class="nav-item"> <a class="nav-link" id="images-tab" data-toggle="tab" role="tab" aria-controls="images" aria-selected="false" href="#images">Images</a></li>
                        </ul>
                    </div><div class="card-body"><div class="tab-content" id="myTabContent"><div class="tab-pane fade active show" id="posts" role="tabpanel" aria-labelledby="posts-tab"><div class="form-group"> <label class="sr-only" for="message">post</label><textarea class="form-control" id="message" rows="3" placeholder="What are you thinking?"></textarea></div></div><div class="tab-pane fade" id="images" role="tabpanel" aria-labelledby="images-tab"><div class="form-group"><div class="custom-file"> <input type="file" class="custom-file-input" id="customFile"> <label class="custom-file-label" for="customFile">Upload image</label></div></div><div class="py-4"></div></div></div><div class="btn-toolbar justify-content-between"><div class="btn-group"> <button type="submit" class="btn btn-primary">share</button></div><div class="btn-group"> <button id="btnGroupDrop1" type="button" class="btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-globe"></i> </button><div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop1"> <a class="dropdown-item" href="#"><i class="fa fa-globe"></i> Public</a> <a class="dropdown-item" href="#"><i class="fa fa-users"></i> Friends</a> <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Just me</a></div></div></div></div>
                </div>*@
            <div id="results">
                @foreach (var annonce in Model)
                {
                    <div class="card shadow gedf-card mb-3">
                        <div class="card-header">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="mr-2">
                                        @if (annonce.User.ProfilePicture != null)
                                        {
                                            <img class="rounded-circle" src="data:image/*;base64,@(Convert.ToBase64String(annonce.User.ProfilePicture))" alt="" width="45" height="45">
                                        }
                                        else
                                        {
                                            <img class="rounded-circle" src="~/img/undraw_profile.svg" alt="" width="45">
                                        }

                                    </div><div class="ml-2"><a asp-controller="Account" asp-action="Profile" asp-route-id="@annonce.User.Id" class="h5 m-0 text-muted">@annonce.User.FirstName @annonce.User.LastName</a><div class="h7 text-muted"><span>@@</span>@annonce.User.UserName</div></div>
                                </div>
                                @*<div><div class="dropdown"> <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fa fa-ellipsis-h"></i> </button><div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1"><div class="h6 dropdown-header">Configuration</div> <a class="dropdown-item" href="#">Save</a> <a class="dropdown-item" href="#">Hide</a> <a class="dropdown-item" href="#">Report</a></div></div></div>*@
                                <div>
                                    @{var save = annonce.EnregistrePar.Where(a => a.UserId == ViewBag.User.Id).FirstOrDefault();
                                        @if (save != null)
                                        {
                                            <i class="fas fa-bookmark saved bookmark" id="@annonce.Id" style="cursor: pointer; color:#4e73df"></i>
                                        }
                                        else
                                        {
                                            <i class="far fa-bookmark unsaved bookmark" id="@annonce.Id" style="cursor:pointer"></i>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="card-body">

                            <div class="text-muted h7 d-flex align-items-center justify-content-between mb-2">

                                <h5 class="card-link">@annonce.Categorie.ToString()</h5><h6>@TimeAgo(annonce.DatePublication)</h6>
                            </div>

                            <a class="card-link" asp-action="DetailsOff" asp-controller="Annonce" asp-route-id="@annonce.Id">
                                <h5 class="card-title">
                                    @annonce.Titre
                                </h5>
                            </a><p class="card-text">
                                @annonce.Description
                            </p>
                            @if (annonce.Images.Count != 0)
                                    {
                                        @if (annonce.Images.Count == 1)
                                        {
                                            @foreach (var image in annonce.Images) {
                                            <img src="data:image/*;base64,@(Convert.ToBase64String(image.Contenu))" class="img-responsive" width="200">
                                                }
                                            }
                                        else
                                        {
                                            <div class="d-flex">
                                                @foreach (var image in annonce.Images)
                                                {
                                                    <img src="data:image/*;base64,@(Convert.ToBase64String(image.Contenu))" class="img-responsive mr-2" width="200">
                                                }
                                </div>
                                        }
                                    }
                            <div class="mt-2">
                                @foreach (var domaine in annonce.Annonce_Domaines)
                                {
                                    <span class="badge badge-primary">@domaine.Domaine.Nom</span>
                                }

                            </div>
                        </div>
                        <div class="card-footer">
                            @{var rating = annonce.Rated_By.Where(a => a.UserId == ViewBag.User.Id).FirstOrDefault();
                                if (rating != null)
                                {
                                    if (rating.Type == "upvote")
                                    {
                                        <a style="cursor:pointer" class="card-link up upvoted" id="upvote"><i class="fa-solid fa-circle-up"></i> <span id="@annonce.Id">Upvoted</span></a>
                                        <a style="cursor:pointer" class="card-link down" id="downvote"><i class="fa-solid fa-circle-down"></i> <span id="@annonce.Id">Downvote</span></a>
                                    }
                                    else
                                    {
                                        <a style="cursor:pointer" class="card-link up" id="upvote"><i class="fa-solid fa-circle-up"></i> <span id="@annonce.Id">Upvote</span></a>
                                        <a style="cursor:pointer" class="card-link down downvoted" id="downvote"><i class="fa-solid fa-circle-down"></i> <span id="@annonce.Id">Downvoted</span></a>
                                    }
                                }
                                else
                                {
                                    <a style="cursor:pointer" class="card-link up" id="upvote"><i class="fa-solid fa-circle-up"></i> <span id="@annonce.Id">Upvote</span></a>
                                    <a style="cursor:pointer" class="card-link down" id="downvote"><i class="fa-solid fa-circle-down"></i> <span id="@annonce.Id">Downvote</span></a>
                                }

                            }



                            <a href="" id="" class="card-link comment-btn"><i class="fa fa-comment"></i> Commenter</a>
                            <a href="#" class="card-link"><i class="fa fa-mail-forward"></i> Partager</a>
                            <br />
                            <div class="comment">

                                <textarea rows="3" id="commentContent" placeholder="Votre commentaire" style="height: 68px;" class="form-control mt-3"></textarea>
                                <div class="text-right">
                                    <button type="submit" id="@annonce.Id" class="sendComment btn btn-primary mt-1">Envoyer</button>
                                </div>

                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
        <!--<div class="card shadow mb-4">-->
        <!-- Card Header - Dropdown -->
        <!--<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Nouvelles Annonces</h6>
            <div class="dropdown no-arrow">
                <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                     aria-labelledby="dropdownMenuLink">
                    <div class="dropdown-header">Dropdown Header:</div>
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>-->
        <!-- Card Body -->
        <!--<div class="card-body">
                <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                </div>
            </div>
        </div>-->
    </div>

    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow gedf-card mb-3">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary">Annonce rapide</h6>
            </div>
            <div class="card-body">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show" id="posts" role="tabpanel" aria-labelledby="posts-tab">
                        <div class="form-group">
                            <label class="sr-only" for="message">post</label>

                            <div class="alert alert-success alert-dismissible" role="alert" id="alert-succ">
                                Ajouté avec succes
                            </div>
                            <div class="alert alert-danger alert-dismissible" role="alert" id="alert-err">
                                Erreur annonce not accepted
                            </div>

                            <input class="form-control" placeholder="Titre" id="title" name="title" />
                            <textarea class="form-control mt-2" id="message" rows="3" placeholder="Exprimez vous ..."></textarea>
                        </div>
                    </div>

                </div>
                <div class="btn-toolbar justify-content-between">
                    <div class="btn-group">
                        <button type="submit" id="share" class="btn btn-primary">Partager</button>
                    </div>

                </div>
            </div>
        </div>
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Profils Intéressants</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <!-- Item 1-->
                @foreach (var user in ViewBag.People)
                {
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <div class="d-flex align-items-center flex-shrink-0 me-3">
                            @if (user.ProfilePicture != null)
                            {
                                <img class=" rounded-circle" src="data:image/*;base64,@(Convert.ToBase64String(user.ProfilePicture))" alt="" style="height:3rem; width:3rem; margin-right:1rem">
                            }
                            else
                            {

                                <img class=" rounded-circle" src="~/img/undraw_profile.svg" alt="" style="height:3rem; width:3rem; margin-right:1rem">
                            }
                            <div class="d-flex flex-column fw-bold">
                                <a class="text-dark line-height-normal mb-1" asp-controller="Account" asp-action="Profile" asp-route-id="@user.Id">@user.FirstName @user.LastName</a>
                                <div class="small text-muted line-height-normal">@user.Email</div>
                            </div>
                        </div>
                        <div class="dropdown no-arrow">
                            <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                                 aria-labelledby="dropdownMenuLink">
                                <div class="dropdown-header">Dropdown Header:</div>
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

<script>$(document).ready(function () {
        $("#alert-succ").hide();
        $("#alert-err").hide();
        $(".comment").hide();
        $(".comment-btn").on('click', function (event) {
            var btn = $(this);
            var comment_section = btn.siblings(".comment");
            var comment_box = comment_section.children("textarea");
            comment_section.slideToggle(500);
            event.preventDefault();
            //console.log(btn);
            //console.log(comment_section);
            //console.log(comment_box);

            $(".sendComment").on('click', function () {
                $.ajax({
                    type: "POST",
                    url: '/Annonce/Commenter',
                    data: {
                        id: $(this).attr("id"),
                        content: comment_box.val()
                    },
                    /* Response is the data returned from controller method */
                    success: function () {

                        /* console.log(comment_box);*/
                    }
                });

            });

        });



        $(".bookmark").on('click', function () {
            var save = $(this);
            $.ajax({
                type: "POST",
                url: '/Home/Save',
                data: {
                    id: $(this).attr("id")
                },
                /* Response is the data returned from controller method */
                success: function () {
                    if (save.hasClass('unsaved')) {
                        save.removeClass('far');
                        save.removeClass('unsaved');
                        save.addClass('fas');
                        save.addClass('saved');
                        save.css('color', '#4e73df');
                    } else {
                        save.removeClass('fas');
                        save.removeClass('saved');
                        save.addClass('far');
                        save.addClass('unsaved');
                        save.css('color', '');
                    }
                }
            });

        });
        $(".up").on('click', function () {
            var upvote = $(this);
            var downvote = $(this).next();
            $.ajax({
                type: "POST",
                url: '/Annonce/Upvote',
                data: {
                    id: $(this).find('span').attr("id")
                },
                /* Response is the data returned from controller method */
                success: function (response) {
                    if (response == "upvoted") {
                        //TODO : Use these values to update your page.
                        upvote.addClass("upvoted");
                        //$(this).find('i').css("color", "#FF4500");
                        upvote.find('span').text("Upvoted");
                        //$(this).find('span').css("color", "#FF4500");
                        if (downvote.hasClass("downvoted")) {
                            downvote.removeClass("downvoted");
                            downvote.find('span').text("Downvote");
                        }

                        return false;
                    }
                    else if (response == "cancelledUpvote") {
                        //console.log(response);
                        upvote.removeClass("upvoted");
                        upvote.find('span').text("Upvote");
                        return false;
                    }
                }
            });
        });

        $(".down").on('click', function () {
            var downvote = $(this);
            var upvote = $(this).prev();
            $.ajax({
                type: "POST",
                url: '/Annonce/Downvote',
                data: {
                    id: $(this).find('span').attr("id")
                },
                /* Response is the data returned from controller method */
                success: function (response) {
                    if (response == "downvoted") {
                        //TODO : Use these values to update your page.
                        downvote.addClass("downvoted");
                        //$(this).find('i').css("color", "#FF4500");
                        downvote.find('span').text("Downvoted");
                        //$(this).find('span').css("color", "#FF4500");
                        if (upvote.hasClass("upvoted")) {
                            upvote.removeClass("upvoted");
                            upvote.find('span').text("Upvote");
                        }

                        return false;
                    }
                    else if (response == "cancelledDownvote") {
                        // console.log(response);
                        downvote.removeClass("downvoted");
                        downvote.find('span').text("Downvote");
                        return false;
                    }
                }
            });
        });

        $('#share').on("click", function () {
            var title = $('#title');
            var message = $('#message');



            $.ajax({
                type: "POST",
                url: '/Home/Annonce',
                data: {

                    title: title.val(),
                    message: message.val(),
                },

                success: function (response) {

                    console.log(response);
                    title.val("");
                    message.val("");

                    if (response == "added") {
                        $("#alert-err").hide();
                        $('#alert-succ').show();
                    } else {
                        $('#alert-succ').hide();
                        $("#alert-err").show();
                    }
                }
            });
        });



        $('#domaines').change(function () {
            $.ajax({
                type: "POST",
                url: '/Home/Listing',
                data: {
                    // selectedCity: $("#ville option:selected").text,
                    selectedDomaine: $(this).val(),
                    selectedCity: $("#villes").val(),
                    selectedFilter: $("#tri").val()
                },
                /* Response is the data returned from controller method */
                success: function (response) {
                    //TODO : Use these values to update your page.
                    $("#results").html(response);
                    return false;
                }
            });
        });
        $('#villes').change(function () {
            $.ajax({
                type: "POST",
                url: '/Home/Listing',
                data: {
                    selectedDomaine: $("#domaines").val(),
                    selectedCity: $("#villes").val(),
                    selectedFilter: $("#tri").val()
                },
                /* Response is the data returned from controller method */
                success: function (response) {
                    //TODO : Use these values to update your page.
                    //$("#results").html(response);
                    $("#results").html(response);
                    return false;

                }
            });
            //console.log($("#ville option:selected").text())
        });
        $('#tri').change(function () {
            $.ajax({
                type: "POST",
                url: '/Home/Listing',
                data: {
                    selectedDomaine: $("#domaines").val(),
                    selectedCity: $("#villes").val(),
                    selectedFilter: $("#tri").val()
                },
                /* Response is the data returned from controller method */
                success: function (response) {
                    console.log("success")
                    $("#results").html(response);
                    return false;
                }
            });
        });

    });</script>


<script src="~/lib/signalr/signalr.js"></script>
<input type="hidden" id="connectionId" value="" />

<script>var connection = new signalR.HubConnectionBuilder().withUrl("/MessageHub").build();




    connection.on("ReceiveNotification", function (user, annonceId) {
        $('#notificationNum').text(parseInt($('#notificationNum').text()) + 1);

        var currentdate = new Date();
        var datetime = currentdate.getDate() + "/"
            + (currentdate.getMonth() + 1) + "/"
            + currentdate.getFullYear() + "   "
            + currentdate.getHours() + ":"
            + currentdate.getMinutes();
        var notification = ' <a class="dropdown-item d-flex align-items-center" href="/AdminAn/Edit/' + annonceId + '">   <div class="mr-3"><div class="icon-circle bg-primary"> <i class="fas fa-file-alt text-white"></i></div></div><div><div class="small text-gray-500">' + datetime + '</div> <span class="font-weight-bold">New announcement of ' + user + ' has been added </span></div></a >';
        $('#notificationCon').append(notification);



    });

    connection.start().then(function () {
        connection.invoke("GetConnectionId").then(function (id) {
            document.getElementById("connectionId").value = id;
        });


    }).catch(function (err) {
        return console.error(err.toString());
    });
    </script>



